body {
  background: #020617;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

select, input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #16a34a;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  margin-top: 15px;
}

#buttons button {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#buttons button.correct {
  background: #22c55e;
  color: white;
}

#buttons button.wrong {
  background: #ef4444;
  color: white;
}