body {
  background:#020617;
  color:white;
  font-family:Arial;
}

.container {
  max-width:480px;
  margin:auto;
  padding:20px;
  text-align:center;
}

select,input,button {
  width:100%;
  padding:8px;
  margin:6px 0;
}

button {
  background:#16a34a;
  border:none;
  font-size:16px;
  cursor:pointer;
}

.hidden { display:none; }

.top {
  display:flex;
  justify-content:space-between;
}

#feedback {
  font-weight:bold;
  margin-top:10px;
}